.link-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
}

.arrow-down-icon {
    width: 20px;
}