<nav id="pagination-container" class="pagination-container">
    <div class="pagination">
        <button class="pagination__first" (click)="inputChange({number: 1})">
            <mat-icon>first_page</mat-icon>
        </button>
        <div class="pagination__current">
            <span>Page</span>
            <input type="number" value="{{currentPage}}" (change)="inputChange({event:$event})" />
            <span>out of {{totalPages}}</span>
        </div>
        <button class="pagination__last" (click)="inputChange({number: totalPages})">
            <mat-icon>last_page</mat-icon>
        </button>
    </div>
</nav>