<div *ngIf="translation" class="search-box">
    <button class="btn-search" (click)="toggleSearchFocus()">
        <fa-icon [icon]="searchIcon" style="font-size: 24px"></fa-icon>
    </button>
    <input type="text" class="input-search" [ngClass]="{'animate-input': focusOnSearch}" [(ngModel)]="value"
        (input)="trackInputChange()" placeholder="{{translation.navbar.search.input.placeHolder}}">
    <button class="input-delete" [ngClass]="{'input-delete-show': focusOnSearch && value.length > 0}"
        (click)="resetValue()">
        <fa-icon [icon]="deleteIcon" style="font-size: 20px"></fa-icon>
    </button>
    <div *ngIf="focusOnSearch && value && value.length > 0" class="search-data-container">
        <button style="height: 40px;" (click)="searchData()"
            class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded">
            {{loadingData ? '...' : translation.navbar.search.buttonTxt}}
        </button>
        <div *ngIf="data && data.length > 0" class="search-data-types">
            <button class="search-data-types__btn" [ngClass]="{'search-data-types__btn--active': moviesFilter}"
                (click)="filterResults(this.TYPES.movie)">{{translation.navbar.options.movies}}</button>
            <button class="search-data-types__btn" [ngClass]="{'search-data-types__btn--active': seriesFilter}"
                (click)="filterResults(this.TYPES.serie)">{{translation.navbar.options.series}}</button>
        </div>
        <div *ngIf="data && data.length > 0" class="search-data-results">
            <div *ngFor="let data of displayedData">
                <a [routerLink]="'detail/' + data.type + '/' + data.id" (click)="clickOnCard()">
                    <div class="search-data-results__cards">
                        <div class="search-data-results__img-container">
                            <img class="search-data-results__img"
                                [src]="data.img ? getCardImageBg(data.img) : defaultCardImage">
                        </div>
                        <div class="search-data-results__description">
                            <h6 class="search-data-results__title">{{data.title}}</h6>
                            <button class="search-data-results__type">{{data.displayedType}}</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>