<section id="footer">
    <div class="footer-header">
        <div class="footer-header__logo">
            <img src="https://empire-streaming.co/build/images/Logo-E.ad4141e1.png" />
            <span>STREAMING</span>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-content__contact">
            <span class="footer-content__title">Contact</span>
            <ul class="footer-content__links">
                <li class="cursor-pointer">Plainte DMCA</li>
                <li class="cursor-pointer">Sécurité</li>
                <li class="cursor-pointer">Droits / Juridiques</li>
            </ul>
        </div>
        <div class="footer-content__help">
            <span class="footer-content__title">Aide</span>
            <ul class="footer-content__links">
                <li class="cursor-pointer">Conseils</li>
            </ul>
        </div>
        <div class="footer-content__copyright">
            <span class="footer-content__title">copyright 2022</span>
        </div>
        <div class="footer-content__social-networks">
            <span class="footer-content__title">Reseaux Sociaux</span>
            <ul class="footer-content__links">
                <li class="flex items-center cursor-pointer"><span
                        class="footer-content__links-icons email-icon"></span>EMAIL</li>
                <li class="flex items-center cursor-pointer"><span
                        class="footer-content__links-icons instagram-icon"></span>INSTAGRAM
                </li>
                <li class="flex items-center cursor-pointer">
                    <div class="footer-content__links-icons tiktok-icon"></div>TIKTOK
                </li>
            </ul>
        </div>
    </div>
</section>