.navbar{
    height: 10vh;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 50;
    
    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        color: white;
        width: 75%;
        height: 100%;
    }
   
    &__categories{
        position: absolute;
        bottom: -100%;
        display: grid;
        height: 100%;
        width: 100%;
        background-color: black;
    }
}

.navbar-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-weight: bold;

    &__img{
        height: 30px;
        width: 30px;
    }
}