<nav class="navbar">
    <div class="navbar__container">
        <!--Options Lists-->
        <app-links-list [(hoverOnMovies)]="hoverOnMovies" [(hoverOnSeries)]="hoverOnSeries"></app-links-list>
        <!--LOGO-->
        <div class="navbar-logo">
            <img class="navbar-logo__img" src="https://empire-streaming.co/build/images/Logo-E.ad4141e1.png" />
            <span>STREAMING</span>
        </div>
        <!--Search Bar-->
        <app-global-search-bar></app-global-search-bar>
        <!--Movies Categories Box -->
        <div *ngIf="hoverOnMovies" class="navbar__categories">
            Movies
        </div>
        <!--Series Categories Box -->
        <div *ngIf="hoverOnSeries" class="navbar__categories">
            Series
        </div>
    </div>
</nav>