.catalogs{
    position: relative;
    top:0;
    min-height: 100vh;
    width: 100%;
    padding-top: 11vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.catalogs-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;

    &__title{
        text-transform: uppercase;
        font-size: 25px;
    }

    &__category{
        text-transform: uppercase;
        font-size: 25px;
        color: #CBCBCB;
    }

    &__filters{
        display: flex;
        color: #CBCBCB;
        gap:10px;
        height: 100%;
        font-size: 12px;
        justify-content: center;
    }
     &__filters>li{
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &__filters>li:hover{
        border-bottom: 2px solid;
        border-color: #E50A13;
    }

    &__filters-selected{
        border-bottom: 2px solid;
        border-color: #E50A13;
    }
}

.catalogs-videos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 85%;
}

.catalogs-videos-card{
    width:200px;
    overflow:hidden;
    object-fit: cover;
    position: relative;
    //default
    background-color: black;
    border-radius: 4px;
    cursor: pointer;

    &__image{
        width:200px;
        height:300px;
        z-index: 1;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__decorations{
        position: absolute;
        top:0;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        z-index: 1000;
        height: 100%;
        width: 100%;
    }
    &__decorations-top{
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 1fr;
        align-items: center;
        height: 20%;
        width: 100%;
        padding-right: 10px;
    }

    &__decorations-info{
        opacity: 0.7;
        background-color: #0072D2;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__decorations-info:hover{
        opacity: 1;
    }

    &__decorations-info-icon{
        color: white;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        border: 2px solid white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__decorations-bottom{
        padding:5px;
        display: flex;
        flex-direction: column;
        min-height: 30%;
        gap: 1px;
        width: 100%;
        height: 80%;
        justify-content: flex-end;
    }
    &__decorations-type{
        text-transform: uppercase;
        color: #9b9b9b;
        font-weight: bold;
    }
    &__decorations-year{
        color: white;
    }
    &__decorations-title{
        text-transform: uppercase;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        font-weight: bold;
    }
    &__decorations-rating{
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    &__decorations-link{
        display: flex;
        position: relative;
        align-items: center;
    }

    &__decorations-link-title{
        position: absolute;
        display: block;
        transition-duration: 0.2s;
        color: #E50A13;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.4px;
    }

    &__decorations-link-icon{
        visibility: hidden;
        opacity: 0;
        color: white;
        transition: visibility 0s 0.2s, opacity 0.2s linear;
    }
}

.catalogs-videos-card:hover .catalogs-videos-card__image{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */ 
    transform: scale(1.2);
}

.catalogs-videos-card:hover .catalogs-videos-card__decorations-link-title{
    padding-left: 30px;
    transition-duration: 0.2s;
    font-size: 13px;
    font-weight: 400;
}

.catalogs-videos-card:hover .catalogs-videos-card__decorations-link-icon{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
    color: white;
}

.catalogs-videos-card:after {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 20%, black 100%);
}
