<div class="catalogs">
    <!--Carousel-->
    <!--Header-->
    <div class="catalogs-header">
        <div class="flex gap-2">
            <span class="catalogs-header__title">{{title}}</span>
            <span class="catalogs-header__category" *ngIf="isGenre && genre && genre.name">{{genre.name}}</span>
        </div>
        <ul class="catalogs-header__filters">
            <li (click)="updateFilter('popularity')"
                [ngClass]="{'catalogs-header__filters-selected': filterSelected.popularity}">Par popularité</li>
            <li (click)="updateFilter('note')" [ngClass]="{'catalogs-header__filters-selected': filterSelected.note}">
                Par notes</li>
            <li (click)="updateFilter('dateCreatdAt')"
                [ngClass]="{'catalogs-header__filters-selected': filterSelected.dateCreatdAt}">Par date
                d'ajout</li>
        </ul>
    </div>
    <!--Cards-->
    <div class="catalogs-videos">
        <!--Duplicate-->
        <ng-container *ngIf="options.movies.isSelected && movies && movies.results &&  movies.results.length > 0">
            <div *ngFor="let movie of movies.results ">
                <div class="catalogs-videos-card">
                    <div class="catalogs-videos-card__image"
                        style="background-image: url('{{movie.poster_path ? getCardImageBg(movie.poster_path) : defaultCardImage}}')">
                    </div>
                    <div class="catalogs-videos-card__decorations">
                        <div class="catalogs-videos-card__decorations-top">
                            <div class="catalogs-videos-card__decorations-info">
                                <span class="catalogs-videos-card__decorations-info-icon">
                                    <p>i</p>
                                </span>
                            </div>
                        </div>
                        <div class="catalogs-videos-card__decorations-bottom">
                            <div class="flex gap-1">
                                <span class="catalogs-videos-card__decorations-type">{{title}}</span>
                                <span
                                    class="catalogs-videos-card__decorations-year">{{movie.release_date.split("-")[0]}}</span>
                            </div>
                            <span class="catalogs-videos-card__decorations-title">{{movie.title}}</span>
                            <span class="catalogs-videos-card__decorations-rating">
                                <span class="flex items-center">{{getRatingFormat(movie.vote_average)}}</span>
                                <span class="material-icons text-red-600 text-lg">star</span>
                            </span>
                            <span class="catalogs-videos-card__decorations-link">
                                <span
                                    class="catalogs-videos-card__decorations-link-icon material-icons text-red-600 text-2xl">play_circle_outline</span>
                                <span class="catalogs-videos-card__decorations-link-title">Regarder</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!--Duplicate-->
        <ng-container *ngIf="options.series.isSelected && series && series.results &&  series.results.length > 0">
            <div *ngFor="let serie of series.results ">
                <div class="catalogs-videos-card">
                    <div class="catalogs-videos-card__image"
                        style="background-image: url('{{serie.backdrop_path ? getCardImageBg(serie.backdrop_path) : defaultCardImage}}')">
                    </div>
                    <div class="catalogs-videos-card__decorations">
                        <div class="catalogs-videos-card__decorations-top">
                            <div class="catalogs-videos-card__decorations-info">
                                <span class="catalogs-videos-card__decorations-info-icon">
                                    <p>i</p>
                                </span>
                            </div>
                        </div>
                        <div class="catalogs-videos-card__decorations-bottom">
                            <div class="flex gap-1">
                                <span class="catalogs-videos-card__decorations-type">{{title}}</span>
                                <span
                                    class="catalogs-videos-card__decorations-year">{{serie.first_air_date.split("-")[0]}}</span>
                            </div>
                            <span class="catalogs-videos-card__decorations-title">{{serie.name}}</span>
                            <span class="catalogs-videos-card__decorations-rating">
                                <span class="flex items-center">{{getRatingFormat(serie.vote_average)}}</span>
                                <span class="material-icons text-red-600 text-lg">star</span>
                            </span>
                            <span class="catalogs-videos-card__decorations-link">
                                <span
                                    class="catalogs-videos-card__decorations-link-icon material-icons text-red-600 text-2xl">play_circle_outline</span>
                                <span class="catalogs-videos-card__decorations-link-title">Regarder</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Pagination-->
    <app-pagination [(currentPage)]="currentPage" [(totalPages)]="totalPages" (pageChange)="pageChange($event)">
    </app-pagination>
</div>