<div class="dialog">
    <article>
        <!--Update this with the link of the movie or serie-->
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
        </iframe>
    </article>
    <div *ngIf="currentMovie && dialogRef" class="dialog-content">
        <h1 class="dialog-content__link"><a (click)="dialogRef.close()"
                routerLink="{{'detail/' + currentMovie.id}}">VOIR</a></h1>
        <h2 class="dialog-content__title">Description</h2>
        <h5 class="dialog-content__description">{{currentMovie.overview}}</h5>
    </div>
</div>