<div class="dialog">
  <article *ngIf="ytb_key && ytb_link">
    <iframe width="100%" height="300px" [src]="ytb_link | safe: 'resourceUrl'">
    </iframe>
  </article>
  <div *ngIf="currentMovie && dialogRef" class="dialog-content">
    <h1 class="dialog-content__link">
      <a
        (click)="dialogRef.close()"
        routerLink="{{ 'detail/' + currentMovie.id }}"
        >VOIR</a
      >
    </h1>
    <h2 class="dialog-content__title">Description</h2>
    <h5 class="dialog-content__description">{{ currentMovie.overview }}</h5>
  </div>
</div>
