<section>
  <main id="main-content">
    <div class="demo-wrap">
      <img
        class="demo-bg"
        src="https://empire-streaming.co/images/medias/odJ4hx6g6vBt4lBWKFD1tI8WS4x.jpg"
        alt=""
      />
    </div>
    <div class="container mx-auto my-0">
      <div class="bg-content p-6 relative">
        <p class="text-slate-400">aboriosam ipsam ducimus vero adipisci.</p>
        <h1 class="text-6xl font-bold mb-6">
          Films et séries en illimités sur SDStraming
        </h1>
      </div>
      <div>test</div>
    </div>
  </main>
</section>
<section>
  <main class="text-white mx-auto my-0 container p-6">
    <div class="container-poster">
      <h2 class="text-4xl uppercase font-bold mb-8">A l'affiche</h2>
      <div *ngIf="nowPlayingMovies" class="movie-list">
        <!-- en faire un composant -->
        <article
          *ngFor="let movie of nowPlayingMovies"
          class="movie hover:scale-105"
        >
          <img
            src="{{ posterPath + movie.poster_path }}"
            alt="img movie card"
          />
        </article>
      </div>
    </div>
  </main>
</section>
